html {
  font-size: 20px;
}

body {
  background-color: #d6cca9;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Parisienne, Rochester, cursive;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 3.5rem;
  background-color: #ffffff;
  border-bottom: 2px solid black;
  padding: 20px 0;
}

figcaption {
  font-style: italic;
}

.dates {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 30px;
}

main {
  margin: 0 20px;
}

figure {
  text-align: center;
  margin: 0 auto 35px auto;
  padding-bottom: 10px;
  width: 325px;
  background-color: #ffffff;
  border: 2px solid black;
}

.portrait-one {
  display: block;
  margin: 10px auto 10px auto;
  max-width: 275px;
  padding: 10px;
  background-color: burlywood;
  border: 2px solid black;
}