h1 {
  font-family: Rochester, cursive;
  text-align: center;
  margin-bottom: 10px;
}

.dates {
  text-align: center;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 30px;
}

.figure-one {
  text-align: center;
}

.portrait-one {
    display: block;
    margin: 10px auto 10px auto;
    width: 300px;
}